<%- include("partials/header") %>

<div class="ui main text container segment">
    <div class="ui huge header">Edit Comment</div>
    <form action="/products/<%= productId %>/comment/<%= comment._id %>?_method=PUT"  method="POST" class="ui form">
        <div class="field">
            <label>Comment</label>
            <input type="text" name="comment[title]" value="<%=comment.title%>">
        </div>
        <button class="ui blue basic button">Submit</button>
    </form>
</div>


<%- include("partials/footer") %>


