<%- include("partials/header") %>

<div class="products">
    <h1><%= user.name%></h1>
    <h1><%= user.username %></h1>
</div>
<% if(currentUser && user._id.equals(currentUser._id)){ %>
    <div>
        <button class="btn btn-light"><a href="/profiles/<%= currentUser._id %>/myorders">See my ordered itmes</a></button>
        <button class="btn btn-light"><a href="/profiles/<%= currentUser._id %>/myproducts">See my uploaded itmes</a></button>
        <button class="btn btn-light"><a href="/profiles/<%= currentUser._id %>/ordered">Update the ordered itmes</a></button>
    </div
<% } %>


<%- include("partials/footer") %>