<%- include("partials/header") %>

<div class="products">
    <h1><%= user.name%></h1>
    <h1><%= user.username %></h1>
</div>
<% if(currentUser && user._id.equals(currentUser._id)){ %>
    <div>
        <button  class="btn btn-light"><a href="/profiles/<%= currentUser._id %>/mybookmarks">My Bookmarks</a></button>
        <button  class="btn btn-light"><a href="/profiles/<%= currentUser._id %>/myproducts">Uploaded Books</a></button>
    </div
<% } %>


<%- include("partials/footer") %>