<%- include("partials/header") %>

<div class="products">
    <div class="ui four column doubling stackable grid container">
   <% products.forEach(function(product){ %>
      <div class="column">
         <div class="ui link cards">
            <div class="column">
                <div class="card">
                    <img class="card-img-top" src="<%= product.image[0] %>" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title"><%= product.title %> </h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= product.bookauthor %></h6>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">Rs <%= product.amount %> /week</li>
                    </ul>
                      <a href="/products/<%= product._id %>" class="btn btn-outline-primary">Details</a>
                    </div>
                  </div>
                
            </div>
         </div>
     </div>
   <% }) %>
</div>
</div>

<%- include("partials/footer") %>