<%- include("partials/header") %>
<div class="container">

<!-- Contact Pop Up
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Contact to Rent</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="description">
              Phone Number: <%= product.phoneNumber %>
              Name: <%= product.author.username %> 
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->
   
 <!-- Product info -->
    <div class="row mt-4 mb-4">
      <div class="col-md-5 mt-2 mr-2 ml-auto">
        <% product.image.forEach(function(image){ %>
            <div class="item">
                <img src="../<%=image%>" class="ui centered rounded image">
            </div>
        <% }) %>
      </div>
      <div class="col-md-7 mt-2 mb-2 ml-2 mr-auto text-dark">
        <h2><%=product.title%></h2>
        <hr />
        <p class="lead"> Description: 
          <p><%=product.description%></p>
        </p>
        <div class="content">
            <span><%= product.Created.toDateString() %></span>
        </div>
        <div class="description">
            <p>Location of Renter:<p><%= product.location%></p> 
        </div>
        <div class="description">
            <p>By <%= product.bookauthor %></p> 
        </div>
        <div class="description">
            <p><strong>Rs <%= product.amount %>/week</strong></p> 
        </div>  
        <!-- Bookmark Buttom starts here -->
        <% var flag=0; %>
        <% for(var i=0;i<currentUser.bookmarks.length ;i++){  %>
            <%  if(String(currentUser.bookmarks[i])==String(product._id)){  %>           
                <div class="extra content">                 
                    <form action="/bookmark/<%=product._id %>/<%=currentUser._id %>" method="POST">
                        <input id="bookmarkButton" type="submit" name="bookmark" value="Y" style="background-color:red; color: transparent;">
                    </form>
                </div> 
                <%    flag=1;    %> 
                <%  break;   %> 
                <% }     %> 
        <%  }  %> 
        <%     if(flag===0){   %> 
            <div class="extra content">
                <form action="/bookmark/<%=product._id %>/<%=currentUser._id %>" method="POST">
                    <input id="bookmarkButton" type="submit" name="bookmark" value="N" style="background-color: transparent;color: transparent;">
                </form>
            </div> 
            <!-- buy form -->
    <!-- <% if(product.quantity > 0){ %>
        <a href="/products/<%= product._id %>/buy"> -->
            <!-- </a>
    <% }else{ %>
        <h3>Sold Out</h3>
    <% } %> -->
    <% if(!product.author.id.equals(currentUser._id)){ %>
        <a href="#"><button class="ui red basic button" data-toggle="modal" data-target="#exampleModal">Rent</button></a>
    <% } %>
    
    

     <% if(product.author.id.equals(currentUser._id) && currentUser ){ %>
    <a href="/products/<%= product._id %>/edit"><button class="ui blue basic button">Edit</button></a>
    <form id="delete" action="/products/<%= product._id %>?_method=DELETE" method="POST">
        <button class="ui red basic button">Delete</button>
    </form>
<% } %>
<div>
    <a href="/products/<%= product._id %>/comment/new"><button class="ui green basic button">Add Comment</button></a>
</div>
        <% } %>   
<!-- Bookmark Buttom ends here -->
<div class="content">
    <% product.comments.forEach(function(comment){ %>
        <p><strong><b><%= comment.author.username %></b></strong></p>
        <%= comment.title %>
        <%= comment.date %>
        <p><%= comment.comment %></p> 
        <% if(comment.author.id.equals(currentUser._id) && currentUser ){ %>
        <a href="/products/<%=product._id%>/comment/<%= comment._id%>/edit">
            <button class="ui black basic button">Edit Comment</button>
        </a>
        <form action="/products/<%=product._id%>/comment/<%= comment._id%>?_method=DELETE" method="POST" id="delete">
            <button class="ui black basic button">Delete Comment</button>
        </form>
        <% } %>
    <% }) %>              
</div>
      </div>
    </div>
  </div>
</div>


<%- include("partials/footer") %>


